<html>
  <head>
    <meta charset='UTF-8' />
    <title>Your OTP from ${companyName}</title>
  </head>
  <body>
    <p>Dear ${customerName},</p>

    <p>We have generated an OTP for you to complete your verification process.
      Please use the following code to proceed:</p>

    <h2>Your OTP Code: ${otpCode}</h2>

    <p>This code is valid for ${validityPeriod} minutes. If you did not request
      this code, please ignore this email or contact our customer support team.</p>

    <p>Thank you for using our service!</p>

    
  </body>
</html>